@page
@model AgentieTurism.Pages.Vacations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.Location.FullLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.Price) €
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.DurationDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.DurationDays) nights
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.AvailableFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.AvailableFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.AvailableTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vacation.AvailableTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation.VacationTags)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var tag in Model.Vacation.VacationTags)
                {
                    @: @tag.Tag.TagName <br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vacation.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
