@page
@model AgentieTurism.Pages.Vacations.IndexModel

@{
    ViewData["Title"] = "Vacations";
}

<h1>Vacanțe</h1>

<p>
    <a asp-page="Create" class="btn btn-custom-create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Vacation / Location:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-custom-create" /> |
            <a asp-page="./Index" class="btn btn-custom-create">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort" style="color: gray; text-decoration: none;">
                    @Html.DisplayNameFor(model => model.Vacation[0].Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation[0].Location.FullLocation)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort" style="color: gray; text-decoration: none;">
                @Html.DisplayNameFor(model => model.Vacation[0].Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation[0].DurationDays)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DepartureSort" style="color: gray; text-decoration: none;">
                @Html.DisplayNameFor(model => model.Vacation[0].AvailableFrom)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ReturnSort" style="color: gray; text-decoration: none;">
                @Html.DisplayNameFor(model => model.Vacation[0].AvailableTo)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacation[0].VacationTags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VacationD.Vacations) {

    string selectedRow = "";
            if (item.ID == Model.VacationID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.FullLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationDays) nights
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTo)
            </td>
                <td>
                    @{
                        foreach (var tag in item.VacationTags)
                        {
                            @: @tag.Tag.TagName <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" class="btn btn-custom-edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-page="./Details" class="btn btn-custom-details" asp-route-id="@item.ID">Details</a> 
                    <a asp-page="./Delete" class="btn btn-custom-delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
